.up_btn{
  width: 30px;
  height: auto;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.container{
  width: 100%;
  max-width: 1024px;
  padding: 15px 0px 15px 0px;
  margin: 0 auto;
}

.logo{
  float: left;
  width: 200px;
  padding-top: 3px;
}

nav{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  width: 100px;
}

.container:after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  line-height: 45px;
  font-size: 20px;
  float: right;
  font-family: 'Comfortaa', cursive;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #3A3A3A;
}

.main_foto{
  background-image: url("../images/main_foto.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1920px;
  height: 633px;
  margin: 0 auto;
}

.text_icons{
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
}

h1{
  font-family: 'Comfortaa', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  color: #3A3A3A;
  width: 600px;
  position:absolute;
  float: left;
  padding-top: 80px;
}

.icons_1_2{
  margin: 0;
  padding: 0;
  padding-top: 420px;
  list-style: none;
  content: "";
  display: table;
  clear: both;
}
.icons_1_2 li{
  display: inline-block;
}

.icon_text{
  width: 200px;
  padding-left: 30px;
  line-height: 46px;
  font-size: 20px;
  float: left;
  font-family: 'Comfortaa', cursive;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #3A3A3A;
}
.icon_div{
  width: 46px;
}

.icons_3_4{
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style: none;
  content: "";
  display: table;
  clear: both;
}
.icons_3_4 li{
  display: inline-block;
}

.icon_text{
  width: 200px;
  padding-left: 30px;
  margin-right: 30px;
  line-height: 46px;
  font-size: 20px;
  float: left;
  font-family: 'Comfortaa', cursive;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #3A3A3A;
}

.citat_block{
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #3A3A3A;
  font-weight: 600;
  text-align: center;
}

.product_container{
  width: 100%;
  max-width: 1920px;
  height: 725px;
  margin: 0 auto;
    
}

.block_foto{
  float: right;
  height: 600px;
}

.block{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.text_block{
  font-family: 'Comfortaa', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  color: #3A3A3A;
  width: 700px;
  position:absolute;
  float: left;
  padding-top: 80px;
}

.btn {
  
  display: inline-block; 
  box-sizing: border-box;
  margin-top: 380px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 50px;
  width: 150px;
  line-height: 46px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  background-color: #689DC2;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation; 
  vertical-align: top;
  transition: box-shadow 0.2s;
}
.btn:active {
  background-color: #1a5f8d;
}

.product_blocks{
  width: 100%;
  max-width: 1920px;
  padding: 15px 0px 15px 0px;
  margin: 0 auto;
}

.fotos{
  width: 100%;
  max-width: 1920px;;
  height: 520px;
}
.sm_foto{
  
  width: 49.8%;
  height: auto;
}
#small_2{
  float: left;
}

#small_3{
  float: right;
}

#black2{
  float: left;
}

#black3{
  float: right;
}


#e_2{
  float: left;
}

#e_3{
  float: right;
}

.ex_2{
  float: left;
}


.ex_3{
  float: right;
}

footer{
  margin-top: 10px;
}

.footer{
  width: 100%;
  max-width: 1920px;
  height: 130px;
  margin: 0 auto;

  border-radius: 8px;
}

.f_info{
  width: 100%;
  max-width: 1024px;
  height: 100px;
  margin: auto;
  position: relative;
}

.text_foot{
  margin: 0;
  width: 50%;
  height: 100px;
  float: left;

}

.icon_fot{
  margin: 0;
  width: 30%;
  height: 100px;
  float: right;
  margin-left: 20px;

}

h3{
  margin: 0;
  height: 36px;
  width: 300px;
  float: left;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #3A3A3A;
  margin-block-start:0em;
  display: flexbox;
}

h2{
  font-family: 'Comfortaa', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: #3A3A3A;
  float: left;
  padding: 0;
  margin: 0;
  margin-block-start: 0em;
}

.contact_icon{
  width: 54.4px;
  height: 54.4px;
  padding-right: 20px;
}
  